body {
    display: grid;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
}

header {
    background-color: #f8f8f8;
    padding: 10px;
    text-align: center;
}

header div {
    display: flex;
    justify-content: center;
    list-style: none;
}

header li {
    margin: 0 15px;
}

main {
    padding: 20px;
    background-color: #ffffff;
    text-align: center;
}

footer {
    background-color: #f8f8f8;
    padding: 10px;
    text-align: center;
}
